<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <fxcommerce_iys>
            <general>
                <enabled>1</enabled>
                <access_token></access_token>
            </general>
            <sync>
                <cron_enabled>1</cron_enabled>
                <cron_expr>*/5 * * * *</cron_expr>
                <batch_size>100</batch_size>
                <max_attempts>10</max_attempts>
            </sync>
        </fxcommerce_iys>
    </default>
</config>
