<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Newsletter\Controller\Manage\Save">
        <plugin name="fxcommerce_iys_gateway_manage_save"
                type="FxCommerce\IysGateway\Plugin\Newsletter\ManageSavePlugin"
                sortOrder="100"/>
    </type>
</config>
